.container{
   width: 700px;
    height:300px;
    background-color: rgb(245, 224, 233);
    border: 1px solid  ;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;  
    align-items: center;
}
.fundo{
    background-color: plum;
    padding: 10px;
    width: 370px;
    border-radius: 15px;
}
img{
    width:200px;
    height: 260px;
    border-radius: 1000px;
    border: 12px solid plum;
}